*{
	font-family: 'PT Sans', sans-serif;
	box-sizing: border-box;
	text-align: center;
}
.box1{
	display: inline-block;
	width: 300px;
  	height: 300px;
  	background-color: #e2df1c;

}
.box2{
	width: 90%;
  	height: 45%;
	background-color: #5ce1e6;
}
.box3{
	margin: 30px 0px;
	width: 90%;
  	height: 45%;
	background-color: #5ce1e6;
}
.box4{
	display: inline-block;
	margin: 15px 10px 10px 10px;
	width: 40%;
  	height: 40%;
	background-color: #5ce1e6;
}
.box5{
	display: inline-block;
	margin: 15px 10px 10px 10px;
	padding: 5px;
	width: 40%;
  	height: 40%;
	background-color: #2cf0f7;
}
.box6{
	margin: 10px 0px 40px 20px;
	width: 85%;
  	height: 40%;
	background-color: #2be1e7;
}
.box7{
	margin: 0% 0% -30% 60%;
	width: 40%;
  	height: 40%;
	background-color: #2edfe6;
}
.box8{
	margin: 0% 10% 0% 10%;
	padding: 5px;
	width: 40%;
  	height: 40%;
	background-color: #2eebf1;
}
.box9{
	margin: 0% 10% 5% 50%;
	padding: 5px;
	width: 40%;
  	height: 40%;
	background-color: #30e1e7;
}
.box0{
	margin: -35% 0% 0% 0%;
	width: 40%;
  	height: 40%;
	background-color: #27e7ee;
}
.footer{
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #000;
}
input{
	padding: 0.5em;
	margin-top: 0.5em;
}
@media (max-width: 768){
	.item-tile{
		width: 100%;
	}
}

@media screen and (min-width: 769px){
	.item-tile{
		width: 30%;
	}
}
