h1{
	text-align:start;
}

.top {
    position: fixed;
    bottom: 25px;
    right: 25px; 
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 10px;
    border: 1px solid black;

}

.top:hover{
	background-color: grey;
	border: 2px solid black;
}

.wrapper-1{
	height: 600px;
	display: inline-block;
	margin-right: 1em;
	
}

.wrapper-2{
	height: 600px;
	display: inline-block;
	margin-left: 1em;
	margin-right: 1em;

}

.wrapper-3{
	height: 600px;
	display: inline-block;
	margin-left: 1em;
	flex-wrap: wrap;
}

.box1{
	height: 25%;
	width: 100%;
	background: rgb(226, 172, 71);
	box-sizing: border-box;
	float: left;
}

.a1{
	padding-right: 1em;
	padding-bottom: 1em;
}

.b1{
	padding-right: 1em;
	padding-top: 1em;
}

.con{
	width: 100%;
	height: 100%;
	background: green;
	box-sizing: border-box;
}



.box2{
	height: 25%;
	width: 50%;
	background: orange;
	box-sizing: border-box;
	float: left;
}

.box2-1{
	height: 25%;
	width: 100%;
	background: orange;
	box-sizing: border-box;
	float: left;
}

.a2{
	padding: 1em;
}

.b2{
	padding: 1em;
}

.c2{
	padding: 1em;
}


.box3{
	height: 25%;
	width: 50%;
	background: orange;
	box-sizing: border-box;
	float: left;
}
.a3{
	padding: 1em;
}

.b3{
	padding-left: 1em;
	padding-bottom: 1em;
}
.c3{
	padding-right: 1em;
	padding-top: 1em;
}
.d3{
	padding: 1em;
}

.con{
	width: 100%;
	height: 100%;
	background: #00bef8;
}

.con2{
	text-align: center;
}

.form1{
	text-align: center;
}

.box-name{
	text-align: center;
}

@media screen and (max-width: 768px){
	[class*="wrapper-"] {
		width: 100%;
	}
	[class*="box2"] {
		width: 100%;
	}
	
}

@media only screen and (min-width: 769px){
	[class*="wrapper-"]{
		width: 30%;
	}
}